body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./Components/Background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-centre {
  text-align: center;
}

.emergency-section {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.emergency-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emergency-title {
  font-size: 24px;
  color: #333;
}

.emergency-phone {
  font-size: 18px;
  color: #555;
  margin-top: 10px;
}

.emergency-info {
  font-size: 16px;
  color: #777;
  margin-top: 20px;
}

.emergency-image {
  margin-top: 30px;
  width: 200px;
  height: 200px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.footer-bus-animation {
  position: relative;
  overflow: hidden;
  height: 200px;
  margin-bottom: -4.3%;
}

.footer-bus-image {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  animation: moveBus 15s linear infinite;
  width: 220px;
}


@keyframes moveBus {
  0% {
    left: 100%;
    transform: translateY(-50%);
  }
  100% {
    left: -100px;
    transform: translateY(-50%);
  }
}

/* .account-pages {
  background-image: url(../public/assets/images/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */

.logo-img {
  width: 15%;
}
/*
.gradient-custom-1 {
  background: #cd9cf2;
  background: -webkit-linear-gradient(to top, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1));
  background: linear-gradient(to top, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1))
}
*/
.section_our_solution .row {
  align-items: center;
}

.our_solution_category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100% !important;
}
.our_solution_category .solution_cards_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.solution_cards_box .solution_card {
  flex: 0 50%;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(195, 136, 154, 0.2),
    0 5px 15px 0 rgba(97, 37, 69, 0.15);
  border-radius: 15px;
  margin: 20px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 265px;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover {
  background: #f03083;
  color: #fff;
  transform: scale(1.1);
  z-index: 9;
}

.solution_cards_box .solution_card:hover::before {
  background: rgba(214, 85, 145, 0.1);
}

.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description p {
  color: #fff;
}

.solution_cards_box .solution_card:before {
  content: "";
  position: absolute;
  background: rgba(214, 85, 175, 0.05);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.solution_cards_box .solution_card:hover .solu_description button {
  background: #fff !important;
  color: #f03073;
}

.solution_card .so_top_icon {
}

.solution_card .solu_title h3 {
  color: #212121;
  font-size: 1.3rem;
  margin-top: 13px;
  margin-bottom: 13px;
}

.solution_card .solu_description p {
  font-size: 15px;
  margin-bottom: 15px;
}

.solution_card .solu_description button {
  border: 0;
  border-radius: 15px;
  background: linear-gradient(
    140deg,
    #ca427f 0%,
    #bc54a6 50%,
    #ca4291c7 75%
  ) !important;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 16px;
}

.our_solution_content h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.hover_color_bubble {
  position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
  top: 0rem;
}

.solution_cards_box .solution_card .so_top_icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution_cards_box .solution_card .so_top_icon img {
  width: 40px;
  height: 50px;
  object-fit: contain;
}

/*start media query*/
@media screen and (min-width: 320px) {
  .sol_card_top_3 {
    position: relative;
    top: 0;
  }

  .our_solution_category {
    width: 100%;
    margin: 0 auto;
  }

  .our_solution_category .solution_cards_box {
    flex: auto;
  }
}
@media only screen and (min-width: 768px) {
  .our_solution_category .solution_cards_box {
    flex: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .sol_card_top_3 {
    position: relative;
    top: -3rem;
  }
  .our_solution_category {
    width: 50%;
    margin: 0 auto;
  }
}

.nav-item:hover {  
  border-bottom: 2px solid black;
}

#cards :hover {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
  /* color: whitesmoke; */
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(95, 24, 49, 0.5);
  /* background-color: grey; */
  cursor: pointer;
}